body {
	background-color: rgb(120, 114, 114);
}

 
.app-wrapper {
   margin: 0 auto;
   max-width: 1216px;
   // display: flex;
   justify-content: center;
}


.block-wrapper {
   // display: flex;
   font-family: "Roboto", arial, sans-serif;
	color: #fefefe;
	border-style: solid;
	border-width: 10px;
	border-color: rgb(254, 254, 254);
	border-radius: 10px 10px 10px 10px;
	background-color:  rgb(7, 18, 117); 
	width: 90%;
	min-width: 400px;
	max-width: 700px;
	margin: 0 auto;
	padding: 25px;
}

form {
   padding: 20px 10px;
   width: 400px;
   margin: 0 auto;
	text-align: center;
}

.input-item {
   height: 45px;
   margin-bottom: 20px;
   font-size: 20px;
   padding: 0 10px;
   border: 1px solid #3E424B;
   outline: none;
}

.button {
   width: 100%;
   font-weight: 700;
	font-size: 30px;
	color: #111;
	background: #fefefe;
	border-style: none;
   border-radius:  10px ;
	padding: 10px 50px;
	margin: 25px 0 15px 0;
	position: relative;
	display: inline-block;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   text-transform: uppercase;
}

header {
   display: flex;
   justify-content: center;
}

button {
   font-weight: 700;
	font-size: 20px;
	color: #111;
	background: #fefefe;
	border-style: none;
   border-radius:  10px ;
	padding: 10px 10px;
	margin: 15px 0 15px 0;
	position: relative;
	display: inline-block;
	transition: all .1s linear;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   text-transform: uppercase;
   margin-right: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

button:hover {
   color: #fefefe;
   background-color: rgb(120, 114, 114);
}


.user-list-block {
   padding: 20px 10px;
   height: 100%;
   margin: 0 auto;
}

.user-card {
   max-width: 300px;
   border: 1px solid #3E424B;
   color: #111;
	background: #fefefe;
   border-radius:  10px ;
   padding: 10px;
}

.user-card-item {
   margin-bottom: 10px;
   font-weight: 700;
	font-size: 20px;

}